body {
    background-color: rgb(246, 246, 246);
}

thead {
    background-color: rgb(240, 240, 240);
}

tbody {
    background-color: rgb(252, 252, 252);
}


td {
    font-size: 14px;
}


tr {
    line-height: 26px;
    min-height: 26px;
    height: 26px;
 }


a {
    text-decoration: none;
}

 .form-control-sm {
    line-height: 24px;
    min-height: 24px;
    height: 24px;
 }


.grey-text {
    color: rgb(192, 192, 192);
}

.status-button {
    width: 107px;
}


.any-button {
    width: 80px;
}


.table-button {
    font-size: 13px;
}

.disabled-button {
    opacity: 0.5;
    pointer-events: none;
}


.header-button {
    margin: 20px 0;
    font-size: 24px; 
    font-weight: bold; 
}

.header-button .btn {
    padding: 10px 20px; 
    font-size: 24px; 
    text-transform: uppercase; 
}

.header-button a {
    text-decoration: none; 
    color: inherit;
}

.header-button .btn-primary {
    background-color: #007bff; 
    border-color: #007bff; 
}

.header-button .btn-primary:hover {
    background-color: #0056b3; 
    border-color: #004085; 
}
